html,
body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.img1{
    background-image: url(https://d38b044pevnwc9.cloudfront.net/cutout-nuxt/enhancer/3.jpg);
    min-height: 100%;
}
.img2{
    background-image: url(https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg);
    min-height: 100%;

}
.img3{
    background-image: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg);
    min-height: 100%;

}
.img1,.img2,.img3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.textBg{
    background-color: #313534;
    color: #fff;
    padding: 20px;
    font-weight: 50px;
    font-size: 30px;
}
.textBg:hover{
background-color:rgb(122, 5, 113);
color: rgb(20, 19, 20);
}
.section{
    padding: 50px 80px;
    text-align: center;

}
.section-light{
    background-color: #f4f4f4;
    color: #666;
}
.section-Dark{
    background-color: #282e34;
    color: #ddd;
}
